<p id="notice"><%= notice %></p>

<p>The word is <%= @match.word %>
<% @match.games.each do |game|%>
<p> <%= game.player.name %> </p>
<% end %>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
